---
import Layout from "@/layouts/Layout.astro";
import type { Post } from "@/lib/interfaces/post.interface";

const apiUrl = new URL("/api/post", Astro.url).toString();
const res = await fetch(apiUrl);
const posts: Post[] = await res.json();
---

<Layout>
  <ul>
    {posts.map((p) => <li>{p.name}</li>)}
  </ul>
</Layout>
