---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/navbar.astro";
import Hero from "@/components/hero.astro";
---

<Layout title="Masemagna">
  <main aria-label="Main content">
    <Navbar />
    <Hero />
  </main>
</Layout>
