---
import type { Post } from "@/lib/interfaces/post.interface";

import HeroPost from "./hero-post.astro";

const apiUrl = new URL("/api/post", Astro.url).toString();
const res = await fetch(apiUrl);
const posts: Post[] = await res.json();
---

<div class="py-8">
  <div class="grid grid-cols-5 grid-rows-7 gap-4">
    <!-- Primo post -->
    {
      posts[0] && (
        <div class="col-span-4 row-span-7 px-4 border-dashed border-l-4 border-myred">
          <HeroPost post={posts[0]} imgShow={true} />{" "}
        </div>
      )
    }

    <!-- Box -->
    <div class="col-start-5 row-start-1 p-4">
      <h1>Ultimi post</h1>
    </div>

    <!-- I successivi 3 in colonna -->
    {
      posts.slice(1, 5).map((post, i) => (
        <div class="row-span-2 col-start-5 p-4" style={`grid-row-start: ${2 + i * 2}`}>
          <HeroPost post={post} imgShow={false} />{" "}
        </div>
      ))
    }
  </div>
</div>
