<div class="sticky top-0 z-50 py-15 flex items-center bg-white">
  <div class="">qua ci slida titolo</div>

  <a class="absolute left-1/2 -translate-x-1/2 title" href="/">
    Ma<span class="text-myred">se</span>Magna
  </a>

  <div class="flex-1 flex justify-end gap-6 shrink-0">
    <a href="/post" class="hover:underline">Posts</a>
    <a href="/about" class="hover:underline">About</a>
    <a href="/contact" class="hover:underline">Contact</a>
  </div>
</div>
