@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.color_back {
  background-color: #ffe9df;
}

.color_text {
  color: #14151c;
}

.title {
  font-family: "Bungee", sans-serif;
  font-size: 33px;
  color: #14151c;
}
.title-footer {
  font-family: "Bungee", sans-serif;
  font-size: 60px;
  color: #ff7300;
}
.title-main {
  font-family: "BungeeShade", sans-serif;
  color: #ff7300;
}

.normal {
  font-family: "ArvoRegular", sans-serif;
  font-size: 17px;
  color: #14151c;
  font-weight: bold;
}

.normal_sottotitolo {
  font-family: "ArvoBold", sans-serif;
  font-size: 60px;
  color: #ff7300;
}

.normal_sottomain {
  font-family: "ArvoBold", sans-serif;
  font-size: 22px;
  color: #14151c;
}

.normal-footer {
  font-family: "ArvoRegular", sans-serif;
  font-size: 11px;
  color: #14151c;
}

@font-face {
  font-family: "Bungee";
  src: url("/fonts/Bungee-Regular.ttf") format("truetype-variations");
  /* variable fonts support this: two values specifies a range */
  font-weight: 300 700;
  font-style: normal;
}
@font-face {
  font-family: "BungeeShade";
  src: url("/fonts/BungeeShade-Regular.ttf") format("truetype-variations");
  /* variable fonts support this: two values specifies a range */
  font-weight: 300 700;
  font-style: normal;
}
@font-face {
  font-family: "ArvoRegular";
  src: url("/fonts/arvo/Arvo-Regular.ttf") format("truetype-variations");
  /* variable fonts support this: two values specifies a range */
  font-weight: 300 700;
  font-style: normal;
}
@font-face {
  font-family: "ArvoBold";
  src: url("/fonts/arvo/Arvo-Bold.ttf") format("truetype-variations");
  /* variable fonts support this: two values specifies a range */
  font-weight: 300 700;
  font-style: normal;
}
